/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import '@/assets/layout/layout.scss';

/* PrimeVue */
// @import 'primevue/resources/primevue.min.css'; // version deplicated. You must open the command line if you are using < 3.29.00
@import 'primeflex/primeflex.scss';
@import 'primeicons/primeicons.css';

/* Demos */
@import '@/assets/demo/demo.scss';

/* fonts */
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Source Code Pro');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito');
// @import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    // font-family: 'Comfortaa', sans-serif !important;
    font-family: 'Montserrat', sans-serif !important;
    // font-family: 'Roboto', sans-serif !important;
    // font-family: 'Source Code Pro', monospace !important;
}

.comfortaa-font {
    font-family: 'Comfortaa', sans-serif !important;
}

.montserrat-font {
    font-family: 'Montserrat', sans-serif !important;
}

// .font-source-code-pro {
//     font-family: 'Source Code Pro', monospace !important;
// }

.roboto-font {
    font-family: 'Roboto', sans-serif !important;
}

.text-warning {
    color: #FFDB50 !important;
}

.link {
    cursor: pointer !important;
}

.primary-bg {
    background-color: #FAF3E0 !important;
}

.img-fit {
    background-position: center center;
    background-size: cover;
    object-fit: cover;
}

.border-primary {
    border: 2px solid #10b981 !important;
}

.bg-primary {
    background-color: #10b981 !important;
}

.bg-white {
    background-color: #ffffff !important;
}

.white-border {
    border-color: white !important;
}

.white-border-left {
    // border-color: white !important;
    border: 3px solid white !important;
    border-top: none !important;
    border-left: none !important;
    border-bottom: none !important;
}


.quick-access-tab {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;
}

.quick-access-tab:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    // background-color: #ebebeb !important;
    // border: 2px solid #399B53 !important;
}

.c-shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
}

.black-font {
    color: #000000 !important;
}

.d-none {
    display: none !important;
}

/* Define a class to hide the div on mobile view */
@media (max-width: 767px) {
    .hide-on-mobile {
        display: none !important;
    }
}

.text-with-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) !important;
    /* Adjust the shadow position and blur radius as needed */
}

.custom-card {
    // background-color: #F0F3F9;
    // padding: 20px;
    // border-radius: 8px;
    display: flex;
    align-items: center;
}

.card-flex {
    // background-color: #f0f0f0;
    // padding: 20px;
    // border-radius: 8px;
    display: flex;
    align-items: center;
}

.number {
    font-size: 48px;
    // font-weight: bold;
    margin-right: 20px;
}

.info {
    display: flex;
    flex-direction: column;
}

.float-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
    /* Adjust the z-index as needed to ensure it's above other content */
}

.trans-ash {
    background-color: #37393FE8 !important;
}

.light-font {
    color: #B9B9B9 !important;
}

.smoke-bg {
    background-color: #F4F4F4 !important;
}

.image-container {
    max-width: 100%;
    /* Limit the maximum width of the container */
    overflow: hidden;
    /* Hide any content that overflows the container */
    border-radius: 15px;
    /* Add border-radius to match the container's style */
}

.image-container img {
    width: 100%;
    /* Make the image fill the container width */
    height: auto;
    /* Maintain aspect ratio */
    display: block;
    /* Ensure proper spacing and alignment */
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    /* White background with opacity */
    padding: 10px;
    /* Adjust as needed */
    box-sizing: border-box;
    /* Include padding in width calculation */
}

.text {
    color: black;
    /* Text color */
    font-size: 16px;
    /* Font size */
    font-weight: bold;
    /* Font weight */
    text-align: center;
    /* Text alignment */
    margin: 0;
    /* Remove default margin */
}

.image-container-2 {
    // position: relative;
    height: 400px;
    /* Set a fixed height for all image containers */
    overflow: hidden;
    /* Hide any overflow content */
}

.image-container-2 img {
    width: 100%;
    /* Make the image fill the container width */
    height: 100%;
    /* Maintain aspect ratio */
    display: block;
    /* Ensure proper spacing and alignment */
    background-position: center center;
    background-size: cover;
    object-fit: cover;
}

.footer-bg {
    background-color: #2B3331 !important;
}

.overlay-2 {
    // position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.613);
    /* Adjust the opacity and color as needed */
    z-index: 1;
    /* Ensure the overlay is above the background image */
}

.nav {
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    z-index: 999 !important;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    padding: 15px 10px 10px 10px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 15px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: auto;
    text-decoration: none;
    color: #000000;
}

.nav>.nav-links>a:hover {
    color: #399B53;
}

.nav>#nav-check {
    display: none;
}

@media (max-width:600px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 70px;
        height: 70px;
        padding: 10px 0px 0px 20px;
    }

    // .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    //   background-color: #ffffff;
    // }
    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 3px solid #000000;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #ffffff;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 60px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(65vh - 50px);
        overflow-y: auto;
    }
}

.nv-link {
    color: #000000 !important;
}

.nv-link:hover {
    color: #399B53 !important;
}

html {
    scroll-behavior: smooth;
}

.active a {
    text-decoration: underline;
    color: #399B53 !important;
}

.overlay-5 {
    width: 100%;
    height: 100%;
    /* Use a linear gradient to create the fade effect */
    background: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0) 100%);
    /* Adjust the opacity and color as needed */
    z-index: 1;
    /* Ensure the overlay is above the background image */
}

.overlay-3 {
    width: 100%;
    height: 100%;
    /* Use a linear gradient to create the fade effect */
    background: linear-gradient(to top, #003465c6 0%, rgba(0, 0, 0, 0) 100%);
    /* Adjust the opacity and color as needed */
    z-index: 1;
    /* Ensure the overlay is above the background image */
}


.overlay-4 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Adjust the opacity and color as needed */
    z-index: 1;
}

.card {
    /* Ensure the container has a defined size */
    width: 100%;
    // height: 100%;
    /* Hide any overflowing content */
    overflow: hidden;
}

.card__overlay {
    position: relative;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: clamp(0.938rem, 5vw, 1.563rem);
    background: rgb(2, 2, 46);
    background: linear-gradient(0deg, rgb(0 0 0 / 57%) 0%, rgb(255 255 255 / 0%) 100%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.header-text {
    color: #004225;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
}

#custom-tab ul li div a:hover {
    background: #10b981;
    border-radius: 5px;
}

#custom-tab ul li div a .p-menuitem-link .p-menuitem-text:hover {
    background: #10b981;
    color: #ffffff;
}

.white-font {
    color: #ffffff;
}

.green-bg {
    background-image: radial-gradient(circle at left top, var(--primary-400), var(--primary-700));
}

.blue-green-gradient {
    color: #ffffff;
    background: #399B53;
    background: -webkit-linear-gradient(to right, #3a6073, #399B53);
    background: linear-gradient(to right, #3a6073, #399B53);
}

@media print {
    @page {
        margin: 0 !important;
        padding: 0 !important;
    }

    body,
    .content,
    html,
    .app-bg {
        background-color: white !important;
    }

    .minus-top-margin {
        margin-top: -40px !important;
    }

    body {
        font-size: 8pt !important;
        /* Adjust font size for better readability */
        line-height: 1.5 !important;
        /* Adjust line height for better readability */
        margin-top: -60px !important;
        // margin-left: -10px !important;
        // margin-right: -10px !important;
    }

    .shadow-1,
    .shadow-2,
    .shadow-3,
    .shadow-4,
    .shadow-5,
    .shadow-6,
    .shadow-7,
    .shadow-8,
    .border-round,
    .surface-section,
    .surface-border {
        display: default !important;
    }

    .hide-on-print {
        display: none !important;
    }

    .full-screen {
        width: 100% !important;
        /* Set width to 100% for print */
        // height: 100% !important;
    }

    .print-section {
        max-width: 100% !important;
        height: 100% !important;
        // flex: 0 0 100%;
        // display: block;
    }
}

.primary-gradient {
    background: #1D976C;
    background: -webkit-linear-gradient(to right, #000000, #1D976C);
    background: linear-gradient(to right, #000000, #1D976C);
}